.dark {
  --bg-color: hsl(235, 21%, 11%);
  --font-color: hsl(234, 39%, 85%);
  --is-done-color: hsl(234, 11%, 52%);
  --bg-task-color: hsl(235, 24%, 19%);
  --checkbox-border-color: hsl(233, 14%, 35%);
  --filter-color: hsl(234, 11%, 52%);
  --color-hover: hsl(236, 33%, 92%);
  --color-active: hsl(234, 6%, 66%);
  --active-filer: hsl(220, 98%, 61%);
  --bg-img-desktop: url('../../assets/images/bg-desktop-dark.jpg');
  --bg-img-mobile: url('../../assets/images/bg-mobile-dark.jpg');
}
