@import 'light';
@import 'dark';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

:root {
  // fonts
  font-family: 'Josefin Sans Variable', sans-serif;
  font-size: 18px;

  // sizes
  --container-width: 600px;
}

.app {
  color: var(--font-color);
  min-height: 100vh;
  width: 100%;
  background-image: var(--bg-img-desktop);
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .app {
    background-image: var(--bg-img-mobile);
  }
}
