@import '../../styles/mixin';

.wrapper {
  background: var(--bg-task-color);
  padding: 1rem;
  @include flex(row, '', center);
  border-bottom: 1px solid var(--checkbox-border-color);
  color: var(--font-color);
  cursor: grab;

  .deleteIcon {
    cursor: pointer;
  }
}

.isDone {
  text-decoration: line-through;
  color: var(--is-done-color)
}