.wrapper {
  background: var(--bg-task-color);
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--checkbox-border-color);
  color: var(--font-color);
  cursor: grab;

  .input {
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: var(--bg-task-color);
    color: var(--font-color);
  }

  .text {
    cursor: pointer;
    flex-grow: 1;
  }

  .deleteIcon {
    cursor: pointer;
    margin-left: 10px;
  }
}

.isDone {
  text-decoration: line-through;
  color: var(--is-done-color)
}