@import '../../styles/mixin';

.content {
  border-radius: 0.5rem;
  @include flex(column);

  .tasksWrapper {
    padding: 1px 1px 0 1px;
    background: var(--bg-task-color);
    border-radius: 5px 5px 0 0;
  }
}