.light {
  --bg-color: hsl(0, 0%, 98%);
  --font-color: hsl(235, 19%, 35%);
  --is-done-color: hsl(233, 11%, 84%);
  --bg-task-color: hsl(0, 0%, 98%);
  --checkbox-border-color: hsl(233, 11%, 84%);
  --filter-color: hsl(236, 9%, 61%);
  --color-hover: hsl(235, 19%, 35%);
  --active-filer: hsl(220, 98%, 61%);
  --bg-img-desktop: url('../../src/assets/images/bg-desktop-light.jpg');
  --bg-img-mobile: url('../../src/assets/images/bg-mobile-light.jpg');
}