.container {
  width: var(--container-width);
  margin: 0 auto;
  padding: 2rem 0;

  .header {
    margin-top: 3rem;
    color: var(--font-color);
    text-align: center;
  }
}

@media (max-width: 700px) {
  .container {
    width: 90%;
  }
}
