@import '../../styles/mixin';

.wrapper {
  background: var(--bg-task-color);
  padding: 1rem;
  @include flex(row);
  border-radius: 0.5rem;
  margin: 1rem 0;
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

  .circle {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid var(--checkbox-border-color);
    margin-right: 20px;
  }

  .input {
    background: var(--bg-task-color);
    border: none;
    outline: none;
    flex-grow: 1;
  }
}