@import "./styles/light";
@import "./styles/dark";

:root {
  font-family: 'Josefin Sans Variable', sans-serif;
  font-size: 18px;
  background-color: var(--bg-color);
  //color: var(--font-color);
}

.app {
  color: var(--font-color);
  height: 100vh;
  //background-color: var(--bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}